# Folders
/build
/dist
/discloud
/deprecated
/node_modules

# Files
/discloud.Config
/.env
/.env.dev
/.env.development
/package-lock.json
/bot_notifications.json
# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
*.exe
*.db
*.development.json